[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This repository holds the source code for a lustre-hsm copytool, dedicated to interface Lustre and Phobos using the Lustre/HSM feature.
[access "refs/*"]
	owner = group cea-hpc
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group cea-hpc
	label-Verified = -1..+1 group cea-hpc
	push = group cea-hpc
	read = group cea-hpc
	rebase = group cea-hpc
	removeReviewer = group cea-hpc
	submit = group cea-hpc
[access "refs/heads/*"]
	create = group cea-hpc
	push = group cea-hpc
	pushMerge = group cea-hpc
	read = group cea-hpc
[access "refs/tags/*"]
	push = group cea-hpc
[access "refs/for/*"]
	addPatchSet = group Registered Users
	create = group Registered Users
	push = group Registered Users
