[Unit]
Description=Lustre HSM Copytool daemon

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/lhsmtool_phobos.conf
RuntimeDirectory=lhsmtool_phobos
ExecStart=/bin/sh -c 'PHOBOS_LRS_server_socket=$PHOBOS_LRS_server_socket \
            LHSMTOOL_PHOBOS_PID_FILEPATH=$LHSMTOOL_PHOBOS_PID_FILEPATH \
            /usr/bin/lhsmtool_phobos $VERBOSE_LEVEL --default-family \
            $DEFAULT_FAMILY --event-fifo $EVENT_FIFO $LUSTRE_MNTPOINT'

[Install]
WantedBy=multi-user.target
